* {
    box-sizing: border-box;
}

:root {
    --text: white;
    --background: rgb(19, 13, 20);
    --surface: rgb(53, 44, 54);
    --accent: pink;
    --border: gray;
    --bg-variant: rgb(46, 37, 48);
}

html {
    font-family: "Montserrat", sans-serif;
    color: var(--text);
}

body {
    margin: 0;
}

#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

#top hr {
    color: var(--text);
}

#top {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    text-align: center;
    transform-style: preserve-3d;
}

#top #bg {
    height: 100vh;
    width: 100vw;
    z-index: -100;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateZ(-10px) scale(2);
}

#top .fox {
    position: absolute;
    z-index: -50;
    height: 20vh;
    width: auto;
    top: calc (50% - 10vh);    
}

#top #fox-one {
    left: 100%;
    transform: translateZ(-7px) scale(1.7);
}

#top #fox-two {
    right: 100%;
    transform: translateZ(-7px) scale(1.7);
}

#cards {
    min-height: 100vh;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 1rem;
    row-gap: 1.5rem;
    justify-items: center;
}

#cards-container div {
    background: var(--bg-variant);
    padding: 1.5rem 2rem;
    border: var(--border) solid 2px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40vw;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

#cards-container div h3 {
    width: max-content;
    background: linear-gradient(0deg, var(--text), var(--text)) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    border-radius: 0.2rem;
    padding: 0.2rem 0.3rem;
    --bg-h: 100%;
}

#cards-container div:hover h3 {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    color: var(--surface);
}

#content {
    background-color: var(--background);
    height: 100vh;
    display: flex;
    padding: 1rem 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content p {
    line-height: 1.5;
    font-size: large;
}

#content h2 {
    --color: var(--text);
    color: var(--color);
    padding-bottom: 0.2rem;
    box-shadow: inset 0 -1.5px 0 0 var(--color);
    width: max-content;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

#content h2:hover {
    --color: var(--accent);
}

footer {
    background-color: var(--surface);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}

#social {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
}

footer #social div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer a {
    color: var(--accent);
    text-decoration: none;
    width: max-content;
    padding-bottom: 0.1rem;
    position: relative;
    padding-bottom: 0.1rem;
}

footer a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in-out;
}

footer a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer hr {
    width: 100%;
}

footer #copyright {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

footer #copyright div {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
}