main {
  padding: 2rem 0;
}

#search-container {
  margin: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#search-container .button {
  padding: 0.7rem 1rem;
}

#search-input {
  min-width: 30vw;
}

#search-results {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  gap: 1rem;
}

#search-results > div {
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  border: 0.2rem solid var(--accent);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
